body{
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  background-color: white;
  background-image: url('../img/gplaypattern.png');
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
}

.musicControl{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 1.5em;
  background: #dc3545;
  color: white;
  border-radius: 20px;
  padding: 5px 10px;
  width: 50px;
  height: 50px;
  z-index: 100;
}

.musicControl p{
  margin: 0;
  transition: all 0.2s ease-in-out;
}

.musicControl:hover p{
  color: black;
}

#stopMusic{
  display: none;
}

.nav-link{
  font-size: 1em;
  color: #dc3545;
}

.navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  font-size: 1.2em;
}

.navbar img{
  height: 50px;
}

.intro{
  width: 100%;
  height: 100vh;
  /*background: url('../img/section-beckground.svg'), no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-text{
  text-align: center;
}

.intro-text h1{
  font-size: 4em;
  font-weight: 900;
}

.intro-text h2{
  font-size: 3em;
  font-weight: 900;
  color: #dc3545;
}

.row-height100vh{
  min-height: 100vh;
}

.col-features{
  min-width: 300px;
}

.form1{
  max-width: 900px;
}

.prettyH1{
  box-sizing: border-box;
  border-top:5px solid #f8d7da;
  border-bottom:5px solid #f8d7da;
  color: #dc3545;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align:center;
  text-transform:uppercase;
  letter-spacing:2px;
}

.col-card{
  max-width: 300px;
  min-width: 300px;
}

.card{
  height: 530px;
  margin: 10px;
  transition: all 0.2s ease-in-out;
}

.card:hover{
  box-shadow: 0 0 1em 0.5em #dc3545;
  border-color: #dc3545;
}

.card-img-container{
  height: 380px;
  display: flex;
  align-items: center;
  padding: 0.5em;
}

.card img{
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
}

.card-icons{
  font-size: 30px;
  color: #dc3545;
  text-decoration: none;
  padding-right: 5px;
  transition: all 0.2s ease-in-out;
}

.card-icons:hover{
  transform: scale(1.3);
  color: black;
  text-shadow: 0 0 0.5em #dc3545;
}

.footer{
  margin-top: 1em;
  background: #dc3545;
  color: white;
  font-size: 0.8em;
}

.footer-icons{
  font-size: 30px; 
  padding: 0.2em;
  text-decoration: none;
  color: white;
  transition: all 0.5s ease-in-out;
}

.footer-icons:hover{
  color:black;
  transform: rotate(360deg);
  text-shadow: 0 0 0.5em rgba(255, 255, 255, 1);
}

.footer-form{
  max-width: 400px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.footer-form:focus{
  background-color: #f1aeb5;
  border-color: white;
  box-shadow: 0 0 0.25rem 0.25rem rgba(255, 255, 255, 0.5);
}

.btn-outline-light:hover{
  box-shadow: 0 0 0.25rem 0.25rem rgba(255, 255, 255, 0.5);
}

.bg-none{
  background: none;
}

.red-border{
  border: 2px solid #f8d7da;
}






@media(min-width: 320px){
  body{
    font-size: 16px;
  }
  .intro-text h1{
    font-size: 2em;
  }
  .intro-text h2{
    font-size: 1em;
  }
  .prettyH1{
    font-size: 1.2em;
  }
}
@media(min-width: 576px){
  body{
    font-size: 20px;
  }
  .intro-text h1{
    font-size: 2.5em;
  }
  
  .intro-text h2{
    font-size: 1.5em;
  }
  .prettyH1{
    font-size: 2em;
  }
}
@media(min-width: 768px){
  .intro-text h1{
    font-size: 3em;
  }
  
  .intro-text h2{
    font-size: 2em;
  }
  .prettyH1{
    font-size: 2.2em;
  }
}
@media(min-width: 992px){
  .intro-text h1{
    font-size: 3.5em;
  }
  
  .intro-text h2{
    font-size: 2.5em;
  }

  .prettyH1{
    font-size: 2.5em;
  }
}
@media(min-width: 1200px){
  .intro-text h1{
    font-size: 4em;
  }
  
  .intro-text h2{
    font-size: 3em;
  }

  .prettyH1{
    font-size: 2.8em;
  }
}
@media(min-width: 1400px){
  .intro-text h1{
    font-size: 5em;
  }
  
  .intro-text h2{
    font-size: 4em;
  }

  .prettyH1{
    font-size: 3em;
  }
}
